/*--------------------- 
Hover card images are 300px x 300px or 225px x 225px.  
Make all the hover cards the same size if using in a group. 
Make sure image is large enough so that they don't have to stretch.
for the default hc-card class set the width and height to the 
same aspect ratio at all break points for best results. 
*Note: this was built with square cards in mind.
---------------------*/

.hc-wrapper {
    display: flex;    
    justify-content: center;
}

.hc-card {
    width: 225px;
    height: 225px;
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.hc-card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}


.hc-card:hover {
    transform: translateY(20px);
}

.hc-card:hover:before {
    opacity: 1;
}

.hc-card:hover .hc-content {
    opacity: 1;
    transform: translateY(0px);
}

.hc-card img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.hc-card .hc-content {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
}

.hc-card .hc-content p {
    letter-spacing: 1px;
    font-size: .9rem;
    margin-top: .5em;
}

.hc-card .hc-content button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
}

.hc-card .hc-content button:hover {
    background: var(--cf-secondary-color);
    color: white;
}


@media(min-width:1199.98px) {
    .hc-card {
        width: 300px;
        height: 300px;
    }
}